<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" routerLink="/family"> Family</a>
       </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/task">Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consumeService1">Service1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consumeService2">Service1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/remoteData">Remote Data</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/templateForm">Template Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modelForm">Model Form</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/animate">Animation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bootstrap">Landing Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ecommerce">PLP</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!--

<a routerLink="/family"> Family</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/task"> Task</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/consumeService1"> ConsumeService1</a>&nbsp;&nbsp;&nbsp;
<a routerLink="/consumeService2"> ConsumeService2</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/remoteData"> Remote User Data</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/templateForm"> Template Form</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/modelForm"> Model Form/Reactive Form</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/animate"> Animation</a> &nbsp;&nbsp;&nbsp;

<a routerLink="/register"> Register</a> &nbsp;&nbsp;&nbsp;
-->

<router-outlet></router-outlet>


